.promo {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 30px 15px;
   border-radius: 6px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

   @media(min-width:$tablet) {
      flex-direction: row;
      align-items: center;
      padding: 40px 30px;
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media(min-width:$tablet) {
         align-items: flex-start;
         gap: 40px;
      }
   }

   &__title {
      line-height: 1.2;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      background-color: rgba(0, 0, 0, .15);
      padding: 20px 15px;
      border-radius: 6px;

      @media(min-width:$tablet) {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 30px;
      }

      @media(min-width:$desktop) {
         gap: 20px 40px;
      }
   }

   &__list-item {
      display: flex;
      align-items: center;
      gap: 15px;
   }

   &__list-icon {}

   &__list-txt {
      font-weight: 600;
   }

   &__img {
      width: 100%;
      max-width: 310px;
      object-fit: contain;
   }
}