@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

body {
  background-color: rgb(32, 36, 45);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 100%;
  padding: 0 4%;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 20px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  background: rgb(39, 45, 57);
  min-height: 75px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px -1px, rgba(0, 0, 0, 0.12) 0 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px -1px, rgba(0, 0, 0, 0.12) 0 2px 4px -1px;
}
@media (min-width: 1280px) {
  .header__body {
    padding: 0 10px;
  }
}
.header .logo {
  max-width: 80px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 1280px) {
  .header .logo {
    max-width: 120px;
  }
}
@media (any-hover: hover) {
  .header .logo:hover {
    opacity: 0.8;
  }
}
.header .logo img {
  width: 100%;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu {
  display: none;
}
@media (min-width: 1280px) {
  .menu {
    display: block;
  }
}
@media (min-width: 1280px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.menu__list-link {
  color: #748198;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__list-item:nth-child(3) .menu__list-link {
  color: rgb(254, 209, 0);
}
@media (any-hover: hover) {
  .menu__list-item .menu__list-link:hover {
    color: white;
  }
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .menu-footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
  }
}
.menu-footer__list-link {
  font-size: 14px;
  color: #748198;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu-footer__list-link:hover {
    color: white;
  }
}

.button {
  padding: 9px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
.button--primary {
  background: #047cfc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--secondary {
  color: #6b768a;
  border: 1px solid rgba(255, 255, 255, 0.08);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button--secondary:hover {
    color: white;
    border-color: white;
  }
  .button--primary:hover {
    background: #0064ff;
  }
}

.sidebar {
  display: none;
}
@media (min-width: 1280px) {
  .sidebar {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    background: rgb(25, 29, 37);
  }
}

.footer {
  padding-bottom: 40px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__top {
  padding: 30px 10px;
  background: rgb(25, 29, 37);
}
.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.footer__payments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgb(32, 36, 45);
}
@media (min-width: 768px) {
  .footer__payments-item {
    width: 100px;
    height: 60px;
    padding: 10px 20px;
  }
}
.footer__payments-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__bottom-icon {
  width: 40px;
  height: 40px;
}