$tablet: 768px;
$desktop: 1280px;

body{
   background-color: rgb(32, 36, 45);
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.container{
   max-width: 100%;
   padding: 0 4%;
   margin: 0 auto;
   @media(min-width:$desktop){
      max-width: 1440px;
      padding: 0 20px;
   }
}


.main{
   flex: 1 1 auto;

   &__content-body{
      display: flex;
   }
}

.content{
   flex: 1 1 70%;
}